{% extends "VetaHomeworkBundle::layout.html.twig" %}

{% block title %}VetaHomeworkBundle:Site{% endblock %}

{% block header %}
    {% include 'VetaHomeworkBundle::navbar.html.twig' %}
    {{ wo_render_breadcrumbs() }}
    <div class="col-sm-8 blog-main">
        <div class="blog-header">
            <h1 class="blog-title">The Blog</h1>
            <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h3>The Category List:</h3>
            {% include 'VetaHomeworkBundle::sidebar.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-8 blog-main">

        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->
{% endblock %}
