{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        {% block header %}
            <div class="row">
                {% include 'VetaHomeworkBundle::navbar.html.twig' %}
                {{ wo_render_breadcrumbs() }}
            </div>
        {% endblock %}
        {% block main %}{% endblock %}
    </div>
    {% block footer %}
        <div class="blog-footer">
            <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </div>
    {% endblock %}
{% endblock %}
